<%- include('partials/header') -%> 
<style>
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        color:#0d5920;

    }
    @media screen and (max-width:800px ){
        .about{
            display: flex;
            flex-direction: column;
        }

    }
</style>
<div class="about">
    <img src="/images/about-2.png" alt="">
    <h1>Will updated soon....</h1>
</div>
<%- include('partials/footer.ejs') -%>