<%- include('partials/header') -%> 
<style>
    .error{
        color:green;
        text-align: center;
        margin-top: 40vh;
    }
</style>
<div class="error">
<h1>404 not found</h1>
<h2><%= err %> </h2>
</div>
<%- include('partials/footer.ejs') -%>